
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

$green:#219150;
$darkgreen:#006400;
$black:#10221b;
$white:#fff;
$light-bg:#eee;
$border:.2rem solid $black;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    gap:1.5rem;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: $white;
    }
    &::-webkit-scrollbar-thumb{
        background: $black;
    }

}

section{
    padding: 5rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    border: $border;
    color: $black;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    &:hover{
        background: $black;
        color: $white;
    }
}

.heading{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: $black;
}

.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;
    &.active{
        background: $white;
        box-shadow: $box-shadow;
    }
    .logo{
        margin-right: auto;
        font-size: 2.5rem;
        color: $black;

        i{
            color:$darkgreen;
        }
    }

    .navbar{
        a{
            margin-left: 2rem;
            font-size: 1.7rem;
            color: #10221b;
            &:hover{
                color: $green;
            }
        }
        #nav-close{
            font-size: 5rem;
            cursor: pointer;
            color: $black;
            display: none;
        }
    }

    .icons a,
    .icons div{
        font-size: 2.5rem;
        margin-left: 2rem;
        cursor: pointer;
        color: $black;
        &:hover{
            color: #219150;
        }
    }

    #menu-btn{
        display: none;
    }
}

.search-form{
    position: fixed;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);
    &.active{
        transform: translateY(0%);
    }
    #close-search{
        position: absolute;
        top: 1.5rem;right: 2.5rem;
        cursor: pointer;
        color: $white;
        font-size: 6rem;
        &:hover{
            color: $green;
        }
    }

    form{
        width: 70rem;
        margin: 0 2rem;
        padding-bottom: 2rem;
        border-bottom: .2rem solid $white;
        display: flex;
        align-items: center;
        input{
            width: 100%;
            font-size: 2rem;
            color: $white;
            text-transform: none;
            background: none;
            padding-right: 2rem;
            &::placeholder{
                color: #aaa;
            }
        }
        label{
            font-size: 3rem;
            cursor: pointer;
            color: $white;
            &:hover{
                color: $green;
            }
        }
    }
}

.home{
    padding: 0;
    .box{
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        justify-content: flex-end;
        padding: 2rem 9%;
        &.second{
            justify-content: flex-start;
        }
        .content{
            width: 50rem;
            span{
                font-size: 4rem;
                color: $black;
            }
            h3{
                font-size: 6rem;
                color:$darkgreen ;
                padding-top: .5rem;
                text-transform: uppercase;
            }
            .p1{
                line-height: 2;
                color: $black;
                font-size: 2rem;
                padding: 1rem 0
            }
            p{
                line-height: 2;
                color:$light-bg;
                font-size: 2rem;
                padding: 1rem 0;
            }
        }
    }
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 3rem;
    color: $black;

}

.category{
    .box-container{
        @include grid(29rem);
        .box{
            text-align: center;
            padding: 1rem;
            img{
                height: 20rem;
                width: 20rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }
            h3{
                font-size: 2rem;
                color: $green;
            }
            p{
                font-size: 1.5rem;
                color: $black;
                padding: 1rem 0;
                line-height: 2;
            }
        }
    }
}
.about {
    background: $light-bg;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  
    .image {
      flex: 2 2 50rem;
      padding-right: 5rem;
      padding-bottom: 5rem;
  
      img {
        width: 100%;
        height: auto; // Ensure the aspect ratio is maintained
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1); // Adjusted box shadow values
      }
    }
  
    .content {
      flex: 1 1 42rem;
  
      h3 {
        font-size: 3rem;
        color: #219150;
      }
  
      p {
        font-size: 1.5rem;
        color: $black;
        padding: 1rem 0;
        line-height: 2;
      }
    }
  }
  
.shop{

    .slide{
      width:35rem;
      border:border;
      &:hover .image .icons{
        transform: translatey(0);
      }
      
      .image{
        position:relative;
        overflow:hidden;
        height:10rem;
        width:100%;
  
        img{
          height:100%;
          width:100%;
          object-fit: cover;
        }
        
        .icons{
          width:100%;
          position:absolute;
          bottom:2rem; left:0;
          text-align: center;
          z-index: 10;
          transform:translateY(7rem);
  
          a{
            height:4.5rem;
            width:4.5rem;
            line-height:4.5rem;
            font-size: 1.7rem;
            background: black;
            color:white;
            margin:0.2rem;
  
            &:hover{
              background:green;
            }        }
  
  
        }
      }
  
      .content{
        padding:1rem 0;
        text-align: center;
  
        h3{
          font-size: 2rem;
          color:black;
        }
   
        .price{
          padding: 1rem 0;
          padding-top: .5rem;
          font-size: 2rem;
          color:#006400;
        }
  
        .stars i{
          font-size: 1.7rem;
          color:black;
        }
      }
  
    }
  }
  .packages {
    background: $light-bg;

    .box-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; // Adjust the gap as needed

        .box {
            text-align: center;
            background: white;
            border: 1px solid black; // Specify border as needed
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); // Specify box-shadow as needed
            border-radius: 0.5rem;
            transition: background 0.3s; // Added transition for a smooth effect

            &:hover {
                background: black;

                .content > * {
                    color: white;
                }
                .btn {
                    border-color: white;

                    &:hover {
                        background: white;
                        color: green;
                    }
                }
            }

            .image {
                height: 25rem;
                overflow: hidden;
                padding: 2rem;
                padding-bottom: 0;
                border-radius: 0.5rem;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .content {
                padding: 2rem;
            }

            h3 {
                font-size: 2rem;
                color: black;
            }

            p {
                font-size: 1.5rem; // Removed space between value and unit
                color: black;
                padding: 1rem 0;
                line-height: 2;
            }

            .price {
                font-size: 2rem;
                color: green;
            }
        }
    }
}

.services {
    background: $light-bg;

    .box-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; 

        .box {
            text-align: center;
            padding: 2rem;
            border: $border;
            border-radius: .5rem;
            background: white; 

        &:hover{
            background:black;

            img{
                filter:invert(1);
            }
            p{
                color:white;                
            }

            .btn{
                border-color: white;
                color: white;
            }
        }

        img{
            height:10rem;
            margin-bottom:1rem;
        }

        h3{
            font-size: 2rem;
            color:green;

        }

        p{
            font-size: 1.5rem;
            color:black;
            padding:1rem 0;
        }

        }
    }
}

.review-slider {
    display: flex;
    justify-content: center;
  }
  
  .swiper-slide {
    width: 300px; /* Set the width of each slide box */
    background-color: lightgrey; /* Set the background color */
    border-radius: 10px; /* Add border radius for rounded corners */
    margin: 0 10px; /* Add margin for spacing between slides */
    overflow: hidden; /* Hide any content overflowing the box */
  }
  
  .text {
    padding: 2rem;
    font-size: 3rem;
    font-style: italic;
    text-align:center; /* Center the text */
     /* Make the text bold */
    color: black; /* Set the text color to black */
  }
  
  
  .user {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  img {
    height: 50px; /* Adjust the height of the image */
    width: 50px; /* Adjust the width of the image */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 5px; /* Adjust the margin to move the image up */
  }
  
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  h3 {
    font-size: 1.2rem;
    color: black;
    margin: 0; /* Remove default margin */
  }
  
  span {
    color: green;
    font-size: 1rem;
  }
  
  
  
  


@media (max-width:1200px){
    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
        scroll-padding-top: 7rem;
    }
    .home .box{
        padding: 2rem;
        justify-content: center;
        background-position: right !important;
        &.second{
            justify-content: center;
            background-position: left !important;
        }
        .content{
            text-align: center;
            span{
                font-size: 3rem;
            }
            h3{
                font-size: 4rem;
            }
        }
    }
}
@media (max-width:768px){
    .header{
        #menu-btn{
            display: inline-block;
        }
        .navbar{
            position: fixed;
            top: 0;left: -110%;
            background: $white;
            z-index: 10000;
            width: 35rem;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            &.active{
                left: 0;
                box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
            }
            a{
                margin: 1rem 0;
                font-size: 3rem;
            }
            #nav-close{
                display: block;
                position: absolute;
                top: 1rem;right: 2rem;
            }
        }
    }

    .swiper-button-next::after,
.swiper-button-prev::after{
    display: none;

}
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
}